{% extends 'books/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container col-sm-6 jumbotron">
    <h3 class="text-center text-secondary">Update Book</h3>
<form action="" method="POST" class="container col-md-8">
    {% csrf_token %}

    {{form|crispy}}
    
    
    <input type="submit" value="Update" class="btn btn-outline-info">
</form>
{% endblock %}





<!-- <table>
        <tr>
            <th>{{form.title.label_tag}}</th><td>{{form}}</td>
        </tr>
        <tr>
            <th>{{form.description.label_tag}}</th><td>{{form.description}}</td>
        </tr>
    </table> -->